import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #7ED0D6; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #7ED0D6, #8DC26F);
  background: -moz-linear-gradient(right, #7ED0D6, #8DC26F);
  background: -o-linear-gradient(right, #7ED0D6, #8DC26F);
  background: linear-gradient(to left, #7ED0D6, #8DC26F);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  margin: 50px 0 0 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #FFF;
  font-size: 18px;
}
h1 {
  color: #FFFFFF;
  letter-spacing: -3px;
  font-family: 'Lato', sans-serif;
  font-size: 68px;
  font-weight: 200;
  margin-top: 75px;
  margin-bottom: 0;
}
.cover {
    position: relative;
    max-width: 450px;
    min-width: 300px;
    width: 100%;
    margin: 90px auto 0;
    height: auto;
    
}
.cover img {
    display: block;
    position: relative;
    max-height: 450px;
    max-width: 450px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.cover img.play{
    display: block;
    position: absolute;
    max-width: 120px;
    min-width: 80px;
    width: 100%;
    margin: 0 auto;
    top: 155px;
    left: 170px;
    cursor: pointer;
}
.cover div.loader-inner{
    display: block;
    position: absolute;
    left: 180px;
    top: 155px;
}
.cover div.loader-inner.line-scale-pulse-out div{
    height: 100px;
    width: 10px;
    margin: 5px;
    background: #7ed0d6;
}
.cover h2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -2px;
    max-width: 450px;
    min-width: 300px;
    width: 100%;
    margin-top: 0; 
    padding: 0;
    cursor: default;
    text-align: left;
}
.cover h2 span { 
   color: white; 
   font: bold 24px/40px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 4px; 
}
.cover h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15px;
    max-width: 500px;
    cursor: default;
}
.cover h3 span { 
   color: white; 
   font: 16px/32px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 3px; 
}
audio {
    display: block;
    margin: 0 auto 5px;
    max-width: 450px;
    min-width: 300px;
    width: 100%;
}
.buttons {
    text-align: center;
    margin: 0 auto 50px;
    max-width:450px;
    min-width:300px;
    width: 100%;
    max-height: 110px;
    min-height: 60px;
    height: 100%;
}
.buttons img {
    max-width:110px;
    min-width:60px;
    width: 100%;
    vertical-align: middle;
    margin: 2.5px auto 0;
    
}